<div class="container">
    <div class="card">
        <div class="card-body car-card">
            <div class="car-image rounded">
                <img src={{img}} class="img-fluid" alt="">
            </div>
            <div class="car-model">{{model_name}}</div>
            <div class="rating">5.0</div>
            <div class="overview p-2 my-2">
                <div class="row">
                    <div class="col-4 transmission d-flex justify-content-start">
                        <span><i class='bx bx-body'></i></span><span>{{transmission}}</span>
                    </div>
                    <div class="col-4 milage d-flex justify-content-start">
                        <span><i class='bx bx-tachometer'></i></span><span>{{milage}}</span>
                    </div>
                    <div class="col-4 fuel d-flex justify-content-start">
                        <span><i class='bx bx-gas-pump'></i></span><span>{{fuel}}</span>
                    </div>

                </div>
                <div class="row">
                    <div class="col-4 power d-flex justify-content-start">
                        <span><i class='bx bx-pie-chart'></i></span><span>{{body}}</span>
                    </div>
                    <div class="col-4 year d-flex justify-content-start">
                        <span><i class='bx bx-cog'></i></span><span>{{year}}</span>
                    </div>
                    <div class="col-4 persons d-flex justify-content-start">
                        <span><i class='bx bxs-user-detail'></i></span><span>{{persons}}</span>
                    </div>

                </div>
            </div>
            <div
                class="available-location bg-light d-flex align-items-center justify-content-between flex-row p-3 rounded">
                <div class="location"><span><i class='bx bx-map'></i></span><span>Germany</span></div>
                <div class="rate d-flex justify-content-start"><span class="fw-bolder text-danger"><i
                            class='bx bx-dollar'></i>{{price}}</span><span>/Day</span>
                </div>
            </div>
            <div class="btn bg-primary w-100 mt-3 text-light">Rent Now</div>
        </div>
    </div>
</div>