<section>
    <div class="fluid-container position-relative px-5 pt-5 pb-2">
        <div class="links">
            <div class="">
                <h4>About Company</h4>
                <ul>
                    <li>Our Company</li>
                    <li>Shop Toyota</li>
                    <li>Dreamsrentals USA</li>
                    <li>Dreamsrentals Worldwide</li>
                    <li>Dreamsrentals Racing</li>
                    <li>Dreamsrentals Racing</li>
                    <li>Virtual Auto Show</li>
                </ul>
            </div>
            <div class="">
                <h4>Vehicles Type</h4>
                <ul>
                    <li>All Vehicles</li>
                    <li>SUVs</li>
                    <li>Trucks</li>
                    <li>Cars</li>
                    <li>Crossovers</li>
                    <li>Electrified Vehicles</li>
                    <li>Hybrids</li>

                </ul>
            </div>

            <div class="">
                <h4>Quick links</h4>
                <ul>
                    <li>My Account</li>
                    <li>Champaigns</li>
                    <li>TerraCar rental Dealers</li>
                    <li>Deals and Incentive</li>
                    <li>Financial Services</li>
                    <li>TerraCar Insurance</li>
                    <li>TerraCar Care</li>
                </ul>
            </div>
            <div class="contact text-light">
                <h4>Contact Info</h4>
                <div class="phone row mt-4 ms-1">
                    <i class='col-auto bx bxs-phone-call'></i>
                    <span class="col-auto  mt-2">+ 1 (888) 760 1940</span>
                </div>
                <div class="email row mt-2 ms-1">
                    <i class='col-auto bx bxs-envelope'></i>
                    <span class="col mt-2">
                        support@example.com</span>
                </div>
                <div class="subscribe mt-4 input-group">
                    <input type="text" class="form-control" placeholder="Subscribe"
                        aria-label="Example text with button addon" aria-describedby="button-addon1">
                    <button class="btn bg-primary" type="button" id="button-addon1"><i
                            class='bx bxs-send text-light'></i></button>
                </div>
            </div>
        </div>
        <div class="footer-bottom text-center text-light mt-3">
            <p>© 2023 Terra cars All Rights Reserved.</p>
        </div>
    </div>
</section>